<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vidyaverse">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VidyaVerse">
        <activity android:name=".flyhigh"></activity>
        <activity android:name=".dinoassist" />
        <activity android:name=".activityclass.FinalResult" />
        <activity android:name=".activityclass.DashboardActivity" />
        <activity android:name=".activityclass.Questions_n_Answers" />
        <activity android:name=".activityclass.gradelists" />
        <activity android:name=".activityclass.login" />
        <activity android:name=".activityclass.entry2" />
        <activity android:name=".activityclass.entry1" />
        <activity android:name=".activityclass.splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activityclass.MainActivity" />
    </application>

</manifest>